<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem name="NPI" id="menu_springback_root" sequence="110"/>
		<menuitem id="menu_springback_main" name="Operations" parent="menu_springback_root" sequence="1"/>
		<menuitem id="menu_springback_configure" name="Configuration" parent="menu_springback_root" sequence="2"/>
		<!-- <menuitem name="Products by Category" action="product.product_template_action" id="menu_springback_products_menu" parent="menu_springback_configure" sequence="1"/> -->
<!--
    springback Order
-->
		<record id="view_springback_order_tree" model="ir.ui.view">
            <field name="name">springback.order.tree</field>
            <field name="model">springback.order</field>
            <field name="arch" type="xml">
            <tree string="springback order list" colors="grey:state=='cancel';blue:state in ('shipping','done');red:state =='draft'">
				<field name="name"/>
                <field name="cnee_id"/>
                <field name="product_id"/>
                <field name="customer"/>
                <field name="itinerary"/>
                <field name="total_qty_plan" sum="Total Planned Qty" string="Planned Qty"/>                
                <field name="total_qty" sum="Total Qty" string="Total Qty"/>
                <field name="total_plt" sum="Total Pallet"/>
                <field name="planned_date"/>
                <field name="actual_date"/>
                <field name="taken_qty" widget="progressbar"/>                    
                <field name="state"/>
            </tree>
            </field>
        </record>
        
        <!-- calendar view -->
        <record id="view_springback_order_calendar" model="ir.ui.view">
            <field name="name">springback.order.calendar</field>
            <field name="model">springback.order</field>
            <field name="arch" type="xml">
                <calendar string="Springback Calendar" date_start="planned_date" date_stop="actual_date"
                          color="product_id">
                    <field name="product_id"/>
                    <field name="total_qty_plan"/>
                </calendar>
            </field>
        </record>
        
        <!-- graph view -->
         <record id="view_springback_order_graph" model="ir.ui.view">
            <field name="name">springback.order.graph</field>
            <field name="model">springback.order</field>
            <field name="arch" type="xml">
                <graph string="Pallet by OEM">
                    <field name="cnee_id"/>
                    <field name="product_id"/>
                    <field name="total_qty_plan" type="measure"/>
                </graph>
            </field>
        </record>
        
        <record id="view_springback_order_search" model="ir.ui.view">
            <field name="name">springback.order.search</field>
            <field name="model">springback.order</field>
            <field name="arch" type="xml">
                <search string="Springback Search">
                	<!-- <field name="name" string="Product Lots" filter_domain="['|',('name','ilike',self),('ref','ilike',self)]"/> -->
                    <field name="name" string="Order Reference"/>
                    <field name="cnee_id"/>
                    <field name="product_id"/>
                    <filter icon="terp-go-home" name="in_process" string="WIP" domain="[('state', 'in', ['draft','shipping'])]" help="working in process"/>                    
                    <group expand="0" string="Group By...">
                    	<filter string="OEM" icon="terp-go-month" domain="[]" context="{'group_by':'cnee_id'}" help="Order by OEM"/>
                    	<filter string="Material" icon="terp-go-month" domain="[]" context="{'group_by':'product_id'}" help="Order by Material"/>                        
                        <filter string="Status" icon="terp-go-month" domain="[]" context="{'group_by':'state'}" help="Order by Status"/>
                    </group>d
                </search>                
            </field>
        </record>            
            
                
		<record id="view_springback_order_form" model="ir.ui.view">
            <field name="name">springback.order.form</field>
            <field name="model">springback.order</field>	
            <field name="arch" type="xml">
                <form string="Springback Order Form">
                	<header>
                        <button name="draft" type="workflow" string="Reset to TBA" states="shipping,done"/>
                        <button name="shipping" type="workflow" string="Shipping" states="draft" class="oe_highlight"/>
                        <button name="done" type="workflow" string="Mark as done" states="shipping" class="oe_highlight"/>
                        <button name="archive" type="workflow" string="Archive" states="done"/>
                        <button name="send_email_auto" string="Send Email" type="object" context="{'send_param':True}" class="oe_highlight"/>
                        <field name="state" widget="statusbar"/>
                    </header>                        
                    <sheet>
                    	<div class="oe_title">
	                        <h2>
	                            <label string="Order#: " attrs="{'invisible': [('state','in',('draft'))]}"/>
	                            <field name="name" class="oe_inline" readonly="1"/>
	                        </h2>
                    	</div>                  
                        <group>
                            <group string="Apple Scheduled">
                                <field name="cnee_id"/>
                                <field name="customer"/>
                                <field name="oem_date" attrs="{'invisible': [('fm_oem','!=', True)]}"/>
	                            <field name="planned_date"/>                              									
     							<field name="total_qty_plan"/>
                                <field name="security"/>
                                <field name="taken_qty" widget="progressbar"/>                                                      
                            </group>
                            <group string="Acutally Happened ">
                            	<field name="product_id"/>                                
                            	<field name="itinerary"/>
                            	<field name="oem_date_actual" attrs="{'invisible': [('fm_oem','!=', True)]}"/>
                            	<field name="actual_date"/>
                            	<field name="total_qty"/>                            	                             
                                <field name="volperplt"/>                                                                                                 
                                <field name="total_plt"/>
                                <field name="fm_oem" attrs="{'invisible': True}"/>                                                                                                         							
                            </group>
						</group>                            
                           <notebook>
                           		<page string="Additional Info">
	                            <!-- <field name="order_line">
	                                <tree string="springback Order Lines" editable="bottom">	                                	
	                                    <field name="pickup_point"/>
	                                    <field name="pickup_time"/>
	                                    <field name="delivery_time"/>
	                                    <field name="product_qty"/>
	                                    <field name="remark"/>                             
	                                    <field name="state" invisible="1"/>
	                                </tree>
	                            </field>
	                            <group class="oe_subtotal_footer oe_right">
	                                <field name="qty" widget="monetary"/>
	                                <field name="plt" widget="monetary"/>                               
	                                <div class="oe_subtotal_footer_separator oe_inline">
	                                    <label for="qty"/>
	                                </div>
	                                <field name="qty" nolabel="1" class="oe_subtotal_footer_separator" widget="monetary"/>
	                                <div class="oe_subtotal_footer_separator oe_inline">
	                                    <label for="plt"/>
	                                </div>
	                                <field name="plt" nolabel="1" class="oe_subtotal_footer_separator" widget="monetary"/>
	                            </group>
	                            <div class="oe_clear"/> -->
	                            
	                            <field name="description"  placeholder="Handling Security/Packaging Spec/Remark..."/>
	                                                       
	                        </page>        
	                    </notebook>                        
                    </sheet>
                    <div class="oe_chatter">
	                    <field name="message_follower_ids" widget="mail_followers"/>
	                    <field name="message_ids" widget="mail_thread"/>
                	</div>
                </form>
            </field>
        </record>
        
        <record model="ir.actions.act_window" id="action_springback_order_tree">
            <field name="name">Springback Order</field>
            <field name="res_model">springback.order</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form,calendar,graph</field>
            <field name="domain">[('state','in',('draft','shipping','done'))]</field>
            <field name="search_view_id" ref="view_springback_order_search"/>
            <!-- <field name="context">{'search_default_in_location':1}</field> -->
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Create the first Springback Order
                </p>
            </field>
        </record>

		<menuitem action="action_springback_order_tree" id="menu_action_springback_order_tree" parent="menu_springback_main" sequence="1"/>
		

<!--
    Springback Itinerary
-->	
		<record  model="ir.ui.view" id="view_springback_itinerary_tree">
            <field name="name">springback.itinerary.tree</field>
            <field name="model">springback.itinerary</field>
            <field name="arch" type="xml">
                <tree string="Itinerary Tree">
                    <field name="name"/>
                    <field name="org"/>
                    <field name="dst"/>                  

                </tree>
            </field>
        </record>
        
		<record model="ir.ui.view" id="view_springback_itinerary_form">
            <field name="name">springback.itinerary.form</field>
            <field name="model">springback.itinerary</field>
            <field name="arch" type="xml">
                <form string="Course Form">
                    <sheet>
	                    <div class="oe_title">
	                        <h4>
	                            <label string="Itinerary: "/>
	                            <field name="name" class="oe_inline" readonly="1"/>
	                        </h4>
	                    </div>
                        <group>
                            <group>                               
                                <field name="org"/>
                            </group>
                            <group>	                            
	                            <field name="dst"/>	                            
                            </group>

                        </group>
                    </sheet>
                </form>
            </field>
        </record>
        
		<record model="ir.actions.act_window" id="action_springback_itinerary_tree">
            <field name="name">Itinerary</field>
            <field name="res_model">springback.itinerary</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Create the first Itinerary for NPI/Springback Event
                </p>
            </field>
        </record>

		<menuitem action="action_springback_itinerary_tree" id="menu_action_springback_itinerary_tree" parent="menu_springback_configure" sequence="1"/>


<!--
    NPI Order
-->
		<record id="view_springback_order_npi_tree" model="ir.ui.view">
            <field name="name">springback.order.npi.tree</field>
            <field name="model">springback.order.npi</field>
            <field name="arch" type="xml">
            <tree string="springback order npi list" colors="grey:state=='cancel';blue:state in ('shipping','done');red:state =='draft'">
				<field name="name"/>
                <field name="cnee_id"/>
                <field name="product_id"/>
                <field name="customer"/>
                <field name="itinerary"/>
                <field name="total_qty_plan"/>                
                <field name="total_qty"/>
                <field name="total_plt"/>
                <field name="planned_date"/>
                <field name="actual_date"/>
                <field name="taken_qty" widget="progressbar"/>                    
                <field name="state"/>
            </tree>
            </field>
        </record>
        
        
		<record id="view_springback_order_npi_form" model="ir.ui.view">
            <field name="name">springback.order.npi.form</field>
            <field name="model">springback.order.npi</field>	
            <field name="arch" type="xml">
                <form string="NPI Order Form">
                	<header>
                        <button name="draft" type="workflow" string="Reset to TBA" states="shipping,done"/>
                        <button name="shipping" type="workflow" string="Shipping" states="draft" class="oe_highlight"/>
                        <button name="done" type="workflow" string="Mark as done" states="shipping" class="oe_highlight"/>
                        <button name="cancel" type="workflow" string="Cancel" states="draft,shipping"/>
                        
                        <field name="state" widget="statusbar"/>
                    </header>                        
                    <sheet>
                    	<div class="oe_title">
	                        <h2>
	                            <label string="Order#: " attrs="{'invisible': [('state','in',('draft'))]}"/>
	                            <field name="name" class="oe_inline" readonly="1"/>
	                        </h2>
                    	</div>                  
                        <group>
                            <group string="Apple Scheduled">
                                <field name="cnee_id"/>
                                <field name="customer"/>
                                <field name="oem_date" attrs="{'invisible': [('fm_oem','!=', True)]}"/>
	                            <field name="planned_date"/>                              									
     							<field name="total_qty_plan"/>
                                <field name="security"/>
                                <field name="taken_qty" widget="progressbar"/>                                                      
                            </group>
                            <group string="Acutally Happened ">
                            	<field name="product_id"/>                                
                            	<field name="itinerary"/>
                            	<field name="oem_date_actual" attrs="{'invisible': [('fm_oem','!=', True)]}"/>
                            	<field name="actual_date"/>
                            	<field name="total_qty"/>                            	                             
                                <field name="volperplt"/>                                                                                                 
                                <field name="total_plt"/>
                                <field name="fm_oem" attrs="{'invisible': True}"/>                                                                                                                                           							
                            </group>
						</group>                            
                           <notebook>
                           		<page string="Additional Info">                          
	                            <field name="description"  placeholder="Handling Security/Packaging Spec/Remark..."/>	                                                       
	                        </page>        
	                    </notebook>                        
                    </sheet>
                </form>
            </field>
        </record>
        
        <record model="ir.actions.act_window" id="action_springback_order_npi_tree">
            <field name="name">NPI Order</field>
            <field name="res_model">springback.order.npi</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Create the first NPI Order
                </p>
            </field>
        </record>        
        
        <menuitem action="action_springback_order_npi_tree" id="menu_action_springback_order_npi_tree" parent="menu_springback_main" sequence="2"/>


<!--
    Springback Customer
-->
        <record model="ir.ui.view" id="view_springback_customer_tree">
            <field name="name">springback.customer.tree</field>
            <field name="model">springback.customer</field>
            <field name="arch" type="xml">
                <tree string="Customers">
                    <field name="sequence" widget="handle" />
                    <field name="name"/>
                </tree>
            </field>
        </record>
      
		<record id="view_springback_customer_form" model="ir.ui.view">
            <field name="name">springback.customer.form</field>
            <field name="model">springback.customer</field>	
            <field name="arch" type="xml">
                <form string="NPI Order Form">
                	<sheet>
                        <group>
                            <group>                               
                                <field name="name"/>
                            </group>
                            <group>	                            
	                            <field name="sequence"/>	                            
                            </group>
                        </group>
                    </sheet>
                </form>
            </field>
        </record>
        
        <record model="ir.actions.act_window" id="action_springback_customer_tree">
            <field name="name">Types of Customer</field>
            <field name="res_model">springback.customer</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Create the first Customer Type
                </p>
            </field>
        </record> 
        
        <menuitem action="action_springback_customer_tree" id="menu_action_springback_customer_tree" parent="menu_springback_configure" sequence="1"/>        
                
        
<!--
    Partner
-->	
<!-- 		<record model="ir.actions.act_window" id="action_springback_oem_tree">
            <field name="name">OEM</field>
            <field name="res_model">res.partner</field>
            <field name="view_mode">tree,form</field>
            <field name="groups_id" eval="[(4, ref('group_springback_user'))]"/>
        </record>
        
        <menuitem id="menu_action_springback_oem_tree" name="OEM" parent="menu_springback_configure" action="action_springback_oem_tree"/>
	 -->	
                                       
    </data>
</openerp>