<?xml version="1.0" ?>
<openerp>
    <data>
        <!-- EDI related Email Templates menu -->
        <record model="ir.actions.act_window" id="action_email_templates">
            <field name="name">Email Templates</field>
            <field name="res_model">email.template</field>
            <field name="view_type">form</field>
            <field name="view_mode">form,tree</field>
            <field name="view_id" ref="email_template.email_template_tree" />
            <field name="search_view_id" ref="email_template.view_email_template_search"/>
            <field name="context" eval="{'search_default_model_id': ref('springback.model_springback_order')}"/>
        </record>
    </data>

    <!-- Mail template are declared in a NOUPDATE block
         so users can freely customize/delete them -->
    <data noupdate="1">
        <!--Email template -->
        <record id="email_template_edi_springback" model="email.template">
            <field name="name">Springback - Send by Email</field>
            <field name="email_from">mlc1711@163.com</field>
            <field name="subject">${object.cnee_id.name|safe} Order (Ref ${object.name or 'n/a' })</field>
            <field name="partner_to">${object.cnee_id.id}</field>
            <field name="model_id" ref="springback.model_springback_order"/>
            <field name="auto_delete" eval="True"/>
<!--             <field name="report_template" ref="report_springback_order"/>
            <field name="report_name">Springback_${(object.name or '').replace('/','_')}</field> -->
            <field name="lang">${object.cnee_id.lang}</field>
            <field name="body_html"><![CDATA[
<div style="font-family: 'Lucica Grande', Ubuntu, Arial, Verdana, sans-serif; font-size: 12px; color: rgb(34, 34, 34); background-color: #FFF; ">

    <p>Hello ${object.cnee_id.name},</p>
    
   
</div>
            ]]></field>
        </record>

    </data>
</openerp>
